# Queries using index in "datetime" format

## The following cells show how we can take advantage of an index formatted as *datetime* to make time series queries.
## TS queries can also be grouped with other commands, such as *groupby*.

In [1]:
import pandas as pd 
import numpy as np 
df = pd.read_csv('avocado.csv',index_col='Date')
df.index = pd.to_datetime(df.index)

In [2]:
df.head()

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
Date,,,,,,,,,,,,,
2015-12-27,0,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
2015-12-20,1,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2015-12-13,2,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
2015-12-06,3,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
2015-11-29,4,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

# In the case of datetime index we need to use the .loc function instead of .iloc
# The *datetime* format allows us to search by year, month, day, hour
# Instead of simply looking for a full date (a specifc entry), I can query all the entries of a specifc year

In [7]:
# there are 5616 entries from year 2016
df.loc['2016'].shape

(5616, 13)

In [8]:
# there are 432 entries from year Jun 2016
df.loc['2016-06'].shape

(432, 13)

In [10]:
#group by 2 weeks, and calculate mean
dft.resample('2W').mean()

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,year
Date,,,,,,,,,,,
2015-01-04,5507,140.54,8.467434e+07,33098258.74,36851038.43,2278818.64,12446221.39,9910008.90,2485655.90,50556.59,217620
2015-01-18,10690,298.27,1.569446e+08,62826871.85,64470471.77,4557418.00,25089829.70,20901790.53,4123418.13,64621.04,435240
2015-02-01,10258,285.57,1.959195e+08,82598121.83,79625352.85,5765868.17,27930173.47,22454150.60,5326805.31,149217.56,435240
2015-02-15,9826,291.39,1.623083e+08,68935286.96,62940152.72,4254748.41,26178081.14,22366769.09,3742011.11,69300.94,435240
2015-03-01,9394,288.76,1.703109e+08,69851679.69,67918591.55,5387890.27,27152776.50,23165319.07,3809690.46,177766.97,435240
...,...,...,...,...,...,...,...,...,...,...,...
2018-01-28,1836,299.09,2.268822e+08,74936613.33,72340099.74,4034374.69,75570277.47,55907235.33,18786154.18,876887.96,435888
2018-02-11,1404,274.44,2.867555e+08,98095232.62,88265146.36,4576652.54,95817218.08,68103103.78,26421615.29,1292499.01,435888
2018-02-25,972,295.24,2.110227e+08,71260810.54,58947863.08,3449629.56,77361702.87,56231809.42,19750167.10,1379726.35,435888
2018-03-11,540,290.01,2.233101e+08,74695183.88,61767836.58,3452743.73,83391791.03,63604181.65,18382510.51,1405098.87,435888
2018-03-25,108,287.34,2.319429e+08,72723954.48,64208918.46,3798824.64,91207829.91,68817364.87,20876476.06,1513988.98,435888

In [11]:
#group by month and count rows (entries)
dft.resample('M').count()

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
Date,,,,,,,,,,,,,
2015-01-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2015-02-28,432,432,432,432,432,432,432,432,432,432,432,432,432
2015-03-31,540,540,540,540,540,540,540,540,540,540,540,540,540
2015-04-30,432,432,432,432,432,432,432,432,432,432,432,432,432
2015-05-31,540,540,540,540,540,540,540,540,540,540,540,540,540
2015-06-30,432,432,432,432,432,432,432,432,432,432,432,432,432
2015-07-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2015-08-31,540,540,540,540,540,540,540,540,540,540,540,540,540
2015-09-30,432,432,432,432,432,432,432,432,432,432,432,432,432
2015-10-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2015-11-30,540,540,540,540,540,540,540,540,540,540,540,540,540
2015-12-31,431,431,431,431,431,431,431,431,431,431,431,431,431
2016-01-31,540,540,540,540,540,540,540,540,540,540,540,540,540
2016-02-29,432,432,432,432,432,432,432,432,432,432,432,432,432
2016-03-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2016-04-30,432,432,432,432,432,432,432,432,432,432,432,432,432
2016-05-31,540,540,540,540,540,540,540,540,540,540,540,540,540
2016-06-30,432,432,432,432,432,432,432,432,432,432,432,432,432
2016-07-31,540,540,540,540,540,540,540,540,540,540,540,540,540
2016-08-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2016-09-30,432,432,432,432,432,432,432,432,432,432,432,432,432
2016-10-31,540,540,540,540,540,540,540,540,540,540,540,540,540
2016-11-30,432,432,432,432,432,432,432,432,432,432,432,432,432
2016-12-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2017-01-31,540,540,540,540,540,540,540,540,540,540,540,540,540
2017-02-28,432,432,432,432,432,432,432,432,432,432,432,432,432
2017-03-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2017-04-30,540,540,540,540,540,540,540,540,540,540,540,540,540
2017-05-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2017-06-30,430,430,430,430,430,430,430,430,430,430,430,430,430
2017-07-31,540,540,540,540,540,540,540,540,540,540,540,540,540
2017-08-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2017-09-30,432,432,432,432,432,432,432,432,432,432,432,432,432
2017-10-31,540,540,540,540,540,540,540,540,540,540,540,540,540
2017-11-30,432,432,432,432,432,432,432,432,432,432,432,432,432
2017-12-31,540,540,540,540,540,540,540,540,540,540,540,540,540
2018-01-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2018-02-28,432,432,432,432,432,432,432,432,432,432,432,432,432
2018-03-31,432,432,432,432,432,432,432,432,432,432,432,432,432

In [12]:
#the date entry is actually the ending of the time period (i.e. the month from the 1st of april until the 1st of May will have the index 1st of May)
# we can change this using label left
dft.resample('M', label='left').count()

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
Date,,,,,,,,,,,,,
2014-12-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2015-01-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2015-02-28,540,540,540,540,540,540,540,540,540,540,540,540,540
2015-03-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2015-04-30,540,540,540,540,540,540,540,540,540,540,540,540,540
2015-05-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2015-06-30,432,432,432,432,432,432,432,432,432,432,432,432,432
2015-07-31,540,540,540,540,540,540,540,540,540,540,540,540,540
2015-08-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2015-09-30,432,432,432,432,432,432,432,432,432,432,432,432,432
2015-10-31,540,540,540,540,540,540,540,540,540,540,540,540,540
2015-11-30,431,431,431,431,431,431,431,431,431,431,431,431,431
2015-12-31,540,540,540,540,540,540,540,540,540,540,540,540,540
2016-01-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2016-02-29,432,432,432,432,432,432,432,432,432,432,432,432,432
2016-03-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2016-04-30,540,540,540,540,540,540,540,540,540,540,540,540,540
2016-05-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2016-06-30,540,540,540,540,540,540,540,540,540,540,540,540,540
2016-07-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2016-08-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2016-09-30,540,540,540,540,540,540,540,540,540,540,540,540,540
2016-10-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2016-11-30,432,432,432,432,432,432,432,432,432,432,432,432,432
2016-12-31,540,540,540,540,540,540,540,540,540,540,540,540,540
2017-01-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2017-02-28,432,432,432,432,432,432,432,432,432,432,432,432,432
2017-03-31,540,540,540,540,540,540,540,540,540,540,540,540,540
2017-04-30,432,432,432,432,432,432,432,432,432,432,432,432,432
2017-05-31,430,430,430,430,430,430,430,430,430,430,430,430,430
2017-06-30,540,540,540,540,540,540,540,540,540,540,540,540,540
2017-07-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2017-08-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2017-09-30,540,540,540,540,540,540,540,540,540,540,540,540,540
2017-10-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2017-11-30,540,540,540,540,540,540,540,540,540,540,540,540,540
2017-12-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2018-01-31,432,432,432,432,432,432,432,432,432,432,432,432,432
2018-02-28,432,432,432,432,432,432,432,432,432,432,432,432,432

# An example of how we can pair time series grouping and groupby

## Here we are showing the sum of the "Total Volume" column per region, per month

In [39]:

dft.groupby([pd.Grouper(freq=('M'),label='left'),'region'])['Total Volume'].sum()

Date        region
2014-12-31  Albany                 1.765180e+05
            Atlanta                1.728320e+06
            BaltimoreWashington    2.883524e+06
            Boise                  2.743618e+05
            Boston                 1.748752e+06
                                       ...
2018-02-28  Syracuse               3.754490e+05
            Tampa                  2.260110e+06
            TotalUS                1.725214e+08
            West                   3.029377e+07
            WestTexNewMexico       3.724699e+06
Name: Total Volume, Length: 2106, dtype: float64

# In Business analytics it can be important to see trends in the last year, month etc.
## We can do that using *.last*

In [10]:
df.last('12M')

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
Date,,,,,,,,,,,,,
2017-12-31,0,1.47,113514.42,2622.70,101135.53,20.25,9735.94,5556.98,4178.96,0.0,conventional,2017,Albany
2017-12-24,1,1.45,77039.09,2811.71,58592.23,19.06,15616.09,6863.18,8752.91,0.0,conventional,2017,Albany
2017-12-17,2,1.43,70677.56,2578.95,50811.52,79.18,17207.91,8914.13,8293.78,0.0,conventional,2017,Albany
2017-12-10,3,1.29,92325.53,3220.05,75147.56,104.36,13853.56,7268.21,6585.35,0.0,conventional,2017,Albany
2017-12-03,4,1.39,139970.00,3772.00,126551.00,136.00,9511.00,7061.00,2450.00,0.0,conventional,2017,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-02-04,7,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
2018-01-28,8,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
2018-01-21,9,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
2018-01-14,10,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
2018-01-07,11,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [6]:
#sorting sort the index to get a better performance
%timeit df.loc['2016-06'].shape

586 µs ± 46.2 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [7]:
df_sort = df.sort_index()

In [8]:
%timeit df_sort.loc['2016-06'].shape

53 ms ± 1.15 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)